body {
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 450px 450px;
  height: 1000px;
  padding-top: 50px;
  padding-left: 30px;

.product {
  width: 45%;
  margin: 2.5%;
  background-color: cadetblue;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}